* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    align-items: center;
}

h1 {
    color: cadetblue;
}

h2 {
    color: darkolivegreen;
}

#embed-video {
    display: none;

}